:root {
    --rotom-color: #b4acc5;
    --display-color: #eee6ee;
    --border-color: #837b9c;

    --btn-press: #9441bd;
    --btn-color: #6a319c;
    --btn-border:#392052;
    --btn-text: #ffffff;

    --txt-color: #393952;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Varela Round', sans-serif;;
}