@import url("/rotom-dex-api/css/global.css");

body{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5vw;

    background-color: var(--btn-color);
}

.conteiner.rotom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    min-height: 50vh;
    width: 55vw;
    padding: 10px;

    border: 5px outset var(--border-color);
    border-radius: 70px;
    
    box-shadow: 10px 5px 20px var(--btn-border);
    background-color: var(--rotom-color);
    
    
    background-image: url(/assets/mewtwo-bg.png);
    background-size: 35%;
    background-position: left;
    background-repeat: no-repeat;

}

.display-top{
    display: inline-block;
    justify-content: center;
}
.btn-top{
    height: 30px;
    width: 140px;

    position: relative;
    bottom: 41px;
    margin: 0px 140px;

    cursor: pointer;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 1px solid var(--btn-border);
    border-left: 1px solid var(--btn-border);
    border-right: 1px solid var(--btn-border);

    box-shadow: 0px 0px 4px var(--btn-border);

    opacity: 0.8;
    color: var(--btn-text);
    background-color: var(--btn-color);
}
.btn-top:hover{
    height: 20px;
    width: 140px;

    bottom: 36px;
    margin: 0px 140px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid var(--btn-border);

    color: var(--btn-text);
    background-color: var(--btn-press);
}

#logo-icon{
    text-shadow: 2px 1px var(--border-color);

    color: var(--rotom-color);
}

#midle-content{
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: 100%;
    width: 100%;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    width: 70%;

    border: 1px solid var(--border-color);
    border-radius: 10px;

    background-image: linear-gradient( to right, var(--display-color), var(--txt-color) );
}

.display-show{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    width: 95%;

    border-radius: 10px;

    opacity: .8;
    background-color: var(--display-color);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 128px;

    height: 50px;
    width: 60px;
    padding: 10px;
    margin: 5px;

    cursor: pointer;

    border: 1px outset var(--btn-border);
    border-radius: 5px;

    color: var(--btn-text);
    background-color: var(--btn-color);
}
.btn:hover{
    background-color: var(--btn-press);
    border: 2px inset var(--btn-border);    
}
.btn-icon{
    width: 80%;

    opacity: .2;
}
#btn-prev{
    transform: rotate(180deg);
}

.display-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#input{
    all:unset;

    height: 3vh;
    width: 20vw;
    padding: 3px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    color: var(--txt-color);
    background-color: var(--display-color);
}
#input::placeholder{
    color: var(--txt-color);
}
#logo-nes{
    width: 100px;
    opacity: .6;
}
